@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap");

body,
html {
  font: normal 700 1rem "Nanum Gothic Coding", serif;
  color: white;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 0;
  margin: 0 0 20px 0;
  text-align: center;
  color: black;
}

h2 {
  font-size: 1rem;
  margin-top: 20px;
}
p {
  font-size: 0.75rem;
}

#password-result {
  display: block;
  margin: 30px 20px 20px 20px;
  padding: 5px;
  background-color: white;
  border-radius: 6px;
  border: 3px solid #e0de1c;
  color: black;
  box-shadow: none;
  height: 15px;
  width: 550px;
}

.copy-button {
  font: normal 700 1rem "Nanum Gothic Coding", serif;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  border: 3px solid #e0de1c;
  color: black;
  height: 35px;
  width: 60px;
  margin: auto;
} 

.copy-button:hover{
  cursor: pointer;
}

.generate-password {
  background-color: #970ce0;
  border: 3px solid #e0de1c;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 100px;
}
.copy-notification {
  display: block;
  background-color: #970ce0;
  border: 3px solid #e0de1c;
  padding: 10px;
  border-radius: 12px;
  justify-self: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 16px;
  display: none;
  text-align: center;
  position: fixed;
  top: 100px;
}

#slider-range {
  position: relative;
}
#password-lenght {
  position: absolute;
  left: 840px;
  top: 455px;
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #970ce0;
  border: 3px solid #e0de1c;
  border-radius: 50%;
  box-shadow: -407px 0 0 400px #e0de1c;
  
}
